<?php
/**
 * @var $block \Magenest\FAQProfessional\Block\Category\Sidebar
 *
 */
$number=$block->getFAQConfigNumber();
if($block->isCategoryFaqEnable()):
$data=$block->getAllFaq();
?>
<span id= "view-url" view-url="<?php echo $block->getViewUrl();?>" hidden></span>
<div class="container-div" >
    <div class="faq-title text-center">
        <strong>Frequently Asked Question</strong>
    </div>
<?php
$index=0;
while (true):
    $temp=$index;
    $faqs=[];
    for ($index;$index<$temp+$number;$index++){
        if($index<count($data)) {
            array_push($faqs, $data[$index]);
        }
    }
?>
    <div class="content-container" hidden>
    <?php
    foreach ($faqs as $faq):
    ?>
        <div class="faq-container">
            <div class="title" faq-id="<?php echo $faq['id']?>"><span class="glyphicon glyphicon-question-sign">&nbsp</span><?php echo $faq['title'];?></div>
            <div class="description" hidden><?php echo $faq['description'];?></div>
        </div>
    <?php
    endforeach;
    ?>
    </div>
<?php
    if($index>=count($data)) {
        break;
    }
    endwhile;
    ?>
    <div class="switch text-center" id="first">First</div>
    <div class="switch text-center" id="pre" >Pre</div>
    <div class="switch text-center" id="next">Next</div>
    <div class="switch text-center" id="last">Last</div>
    <div style="clear:both"></div>
</div>
<?php endif; ?>