<?php
/** @var  $block Magenest\FAQProfessional\Block\Adminhtml\Category\Edit\Tab\Main */
$data = $block->getCategory();
$block->getAllProductCategory();
?>
<fieldset id="_info_general" class="fieldset admin__fieldset ">
    <legend class="admin__legend legend">
        <span>Category Information</span>
    </legend>
    <br>
    <form id="category_page" method="POST" action="<?php echo $block->getUrl('faq/category/save') ?>">
        <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>"/>
        <input type="hidden" value="<?php echo (isset($data)) ? $data['id'] : '' ?>" name="id">
        <div class="admin__field field field-content with-addon required _required"
             data-ui-id="adminhtml-category-edit-tab-general-0-fieldset-element-form-field-content">
            <label class="label admin__field-label"
                   data-ui-id="adminhtml-category-edit-tab-general-0-fieldset-element-text-data-content-label"
                   for="_info_content">
                <span>Name</span>
            </label>

            <div class="admin__field-control control">
                <div class="admin__field">
                        <input id="_info_content" class=" required-entry _required text admin__control-text"
                                  data-ui-id="adminhtml-category-edit-tab-general-0-fieldset-element-text-data-content"
                                  name="name" value="<?php echo (isset($data)) ? $data['name'] : '' ?>"
                                autocomplete="off">
<!--                    --><?php //echo (isset($data)) ? 'disabled="disabled"' : '' ?>
                </div>
            </div>
        </div>
        <div class="admin__field field field-content with-addon required _required"
             data-ui-id="adminhtml-category-edit-tab-general-0-fieldset-element-form-field-content">
            <label class="label admin__field-label"
                   data-ui-id="adminhtml-category-edit-tab-general-0-fieldset-element-text-data-content-label"
                   for="_info_content">
                <span>Sort Order</span>
            </label>

            <div class="admin__field-control control">
                <div class="admin__field">
                    <input id="_info_content" class=" required-entry _required text admin__control-text"
                           data-ui-id="adminhtml-category-edit-tab-general-0-fieldset-element-text-data-content"
                           name="sort_order" value="<?php echo (isset($data)) ? $data['sort_order'] : '' ?>"
                           autocomplete="off">
                </div>
            </div>
        </div>
        <div class="admin__field field field-status "
             data-ui-id="adminhtml-category-edit-tab-general-0-fieldset-element-form-field-status">
            <label class="label admin__field-label"
                   data-ui-id="adminhtml-category-edit-tab-general-0-fieldset-element-label-data-status-label"
                   for="_info_status">
                <span>Status</span>
            </label>

            <div class="admin__field-control control">
                <div class="admin__field-control control">
                    <div class="admin__field admin__field-option">
                        <input id="_info_active1" class="admin__control-radio" type="radio" value="1"
                               name="status" checked>
                        <label class="admin__field-label" for="_info_active1">
                            <span>Enable</span>
                        </label>
                    </div>
                    <div class="admin__field admin__field-option">
                        <input id="_info_active2" class="admin__control-radio" type="radio" value="2"
                               name="status" <?php if(isset($data) && $data['status'] == 2){  echo "checked"; } ?>>
                        <label class="admin__field-label" for="_info_active2">
                            <span>Disable</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <button class="scalable save category" style="float:right" onclick="category_page.submit();" type="submit">
            <span>Save</span>
        </button>
    </form>
</fieldset>

