<?php
/**
 * @var $block Magenest\FAQProfessional\Block\FAQ\Index
 */
    $categories = $block->getCategories();
    $tags = $block->getTags();
    $faqs = $block->getFaqs();

    $titleBackground=$block->getTitleBackground();
    $faqBackground=$block->getFaqBackground();
    $desBackground=$block->getDescriptionBackground();
    $wrapperBackground=$block->getWrapperBackground();

    $faqColor=$block->getFaqColor();
    $desColor=$block->getDesColor();
    $titleColor=$block->getTitleColor();
?>
<style type="text/css">
    .panel-body .panel-group .panel .panel-heading{
        background-color: <?php if($block->getStyleOpinion()=='2'){echo $faqBackground. ' !important';}?>;
    }

    .panel-body .panel-group .panel .collapse .panel-body{
        background-color: <?php if($block->getStyleOpinion()=='2'){echo $desBackground.' !important';}?>;
        color: <?php if($block->getStyleOpinion()=='2'){echo $desColor.' !important';}?>;
    }

    .col-lg-12 .panel .panel-body {
        background-color: <?php if($block->getStyleOpinion()=='2'){echo $wrapperBackground.' !important';}?>;
    }

    .panel-body .panel-group .panel .panel-heading h4 a{
        color: <?php if($block->getStyleOpinion()=='2'){echo $faqColor.' !important';}?>;
    }

    .col-lg-12 .panel .panel-heading {
        color: <?php if($block->getStyleOpinion()=='2'){echo $titleColor.' !important';}?>;
    }
    
    .lead{
        background-color: <?php if($block->getStyleOpinion()=='2'){echo $block->getLeftColumnHeaderBackground().' !important';}  ?>;
    }

    .category{
        background-color: <?php if($block->getStyleOpinion()=='2'){echo $block->getLeftColumnRowBackground().' !important';}  ?>;
    }

    .category:hover{
        background-color: <?php if($block->getStyleOpinion()=='2'){echo $block->getLeftColumnHeaderBackground().' !important';}  ?>;
    }

    .list-group-item-in{
        background-color: <?php if($block->getStyleOpinion()=='2'){echo $block->getLeftColumnHeaderBackground().' !important';}  ?>;
    }

    .most-frequently{
        background-color: <?php if($block->getStyleOpinion()=='2'){echo $block->getLeftColumnRowBackground().' !important';}  ?>;
    }

    .most-frequently:hover{
        background-color: <?php if($block->getStyleOpinion()=='2'){echo $block->getLeftColumnHeaderBackground().' !important';}  ?>;
    }

    .container .row .col-md-3 {
        color: <?php if($block->getStyleOpinion()=='2'){echo $block->getLeftColumnTextColor().' !important';}?>;
    }
    .list-group a{
        color: <?php if($block->getStyleOpinion()=='2'){echo $block->getLeftColumnTextColor().' !important';}?>;
    }
</style>
<div class="container">
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-3">
            <div class="list-group">
                <p class="list-group-item lead">Category</p>
                <a class="list-group-item most-frequently">Most Frequently</a>
                <?php foreach ($categories as $cate): ?>
                    <a name="<?php echo $cate['id']; ?>" aria-label="<?php echo $cate['name']; ?>" class="list-group-item category"><?php echo $cate['name']; ?></a>
                <?php endforeach; ?>
            </div>
            <div class="list-group">
                <p class="list-group-item lead">Popular Tags</p>
                <div class="list-group-item">
                    <?php foreach ($tags as $tag): ?>
                        <a class="faq-tag" name="<?php echo $tag['tag_name']; ?>">
                            <?php echo $tag['tag_name']; ?>
                        </a>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h4 style="font-weight: bold;">Frequently Asked Question</h4>
            <form class="form-horizontal form-label-left" autocomplete="off">
                <div class="row">
                    <div class="col-md-9 text-search">
                        <input class="form-control keyword" type="text" placeholder="Search">
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-primary btn-search pull-right">Search</a>
                    </div>
                </div>
            </form>
            <div class="row" style="margin-top: 20px;">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading head" style="background-color: <?php if($titleBackground==''||$block->getStyleOpinion()=='1') echo '#e4edf4'; else echo $titleBackground; ?>">
                            Most Frequently
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <?php if(sizeof($faqs) > 0): ?>
                                    <?php foreach ($faqs as $faq): ?>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" name="<?php echo $faq['id'];?>" aria-expanded="false">
                                                        <i class="glyphicon glyphicon-triangle-right"></i> <span><?php echo $faq['title']; ?></span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div class="<?php echo $faq['id']; ?> panel-collapse collapse">
                                                <div class="panel-body">
                                                    <?php echo $faq['description']; ?>
                                                </div>
                                            </div>
                                        </div>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                                <?php if(sizeof($faqs) <= 0): ?>
                                    <h3>No FAQ Found!</h3>
                                <?php endif; ?>

                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
</div>

<script>
    require([
        "jquery",
        "mage/mage",

    ], function ($) {
        "use strict";

        $("#accordion").on("click", ".collapsed", function () {
            var id = $(this).attr('name');
            var strClass = $('.'+id).attr('class');
            if(strClass.indexOf('in') == -1) {
                $('.'+id).attr('class', strClass + ' in');
                $.ajax({
                    type: "POST",
                    url: '<?php echo $block->getViewUrl();?>?isAjax=true',
                    data: {
                        id: id
                    },
                    showLoader: true,
                    success: function (response) {
                        if (!response.error) {
//                            alert("Success");
                        } else {
                            //TODO when have errors
//                            alert('Please check request !');
                        }
                    },
                    timeout: 10000
                });
            } else {
                strClass = strClass.substr(0, strClass.length - 3);
                $('.'+id).attr('class', strClass);
            }
        });

        $(".most-frequently").click(function () {
            var most_frequently = 'most-frequently';
            $(".list-group-item").removeClass("list-group-item-in");
            $(".most-frequently").removeClass("list-group-item-in");
            $(".faq-tag").removeClass("faq-tag-in");
            $(this).addClass("list-group-item-in");
            $.ajax({
                type: "POST",
                url: '<?php echo $block->getFaqUrl()?>?isAjax=true',
                data: {
                    most_frequently: most_frequently
                },
                showLoader: true,
                success: function (response) {
                    if (!response.error) {
                        var arr_faq = response.faqs;
                        var output = '';
                        for (var i = 0; i < arr_faq.length; i++) {
                            output += '<div class="panel panel-default">';
                            output += '<div class="panel-heading">';
                            output += '<h4 class="panel-title">';
                            output += '<a class="collapsed" data-toggle="collapse" data-parent="#accordion" name="' +
                                arr_faq[i].id + '" aria-expanded="false"><i class="glyphicon glyphicon-triangle-right"></i><span>' + arr_faq[i].title + '</span></a>';
                            output += '</h4></div>';
                            output += '<div class="' + arr_faq[i].id + ' panel-collapse collapse">';
                            output += '<div class="panel-body">' + arr_faq[i].description + '</div></div></div>';
                        }
                        if(arr_faq.length < 1) {
                            output = '<h3>No FAQ Found!</h3>';
                        }
                        $(".panel-group").empty().append(output);
                        $(".head").empty().append("Most Frequently");
                    } else {
                        //TODO when have errors
                        alert('Please check request !');
                    }
                },
                timeout: 10000
            });
        });

        $(".category").click(function () {
            var cate_id = $(this).attr('name');
            var cate_name = $(this).attr('aria-label');
            $(".list-group-item").removeClass("list-group-item-in");
            $(".most-frequently").removeClass("list-group-item-in");
            $(".faq-tag").removeClass("faq-tag-in");
            $(this).addClass("list-group-item-in");
            $.ajax({
                type: "POST",
                url: '<?php echo $block->getFaqUrl()?>?isAjax=true',
                data: {
                    cate_id: cate_id
                },
                showLoader: true,
                success: function (response) {
                    if (!response.error) {
                        var arr_faq = response.faqs;
                        var output = '';
                        for (var i = 0; i < arr_faq.length; i++) {
                            output += '<div class="panel panel-default">';
                            output += '<div class="panel-heading">';
                            output += '<h4 class="panel-title">';
                            output += '<a class="collapsed" data-toggle="collapse" data-parent="#accordion" name="' +
                                arr_faq[i].id + '" aria-expanded="false"><i class="glyphicon glyphicon-triangle-right"></i><span>' + arr_faq[i].title + '</span></a>';
                            output += '</h4></div>';
                            output += '<div class="' + arr_faq[i].id + ' panel-collapse collapse">';
                            output += '<div class="panel-body">' + arr_faq[i].description + '</div></div></div>';
                        }
                        if(arr_faq.length < 1) {
                            output = '<h3>No FAQ Found!</h3>';
                        }
                        $(".panel-group").empty().append(output);
                        $(".head").empty().append("Category: " + cate_name);
                    } else {
                        //TODO when have errors
                        alert('Please check request !');
                    }
                },
                timeout: 10000
            });
        });

        $(".faq-tag").click(function () {
            var tag_name = $(this).attr('name');
            $(".list-group-item").removeClass("list-group-item-in");
            $(".most-frequently").removeClass("list-group-item-in");
            $(".faq-tag").removeClass("faq-tag-in");
            $(this).addClass("faq-tag-in");
            $.ajax({
                type: "POST",
                url: '<?php echo $block->getFaqUrl()?>?isAjax=true',
                data: {
                    tag_name: tag_name
                },
                showLoader: true,
                success: function (response) {
                    if (!response.error) {
                        var arr_faq = response.faqs;
                        var output = '';
                        for (var i = 0; i < arr_faq.length; i++) {
                            output += '<div class="panel panel-default">';
                            output += '<div class="panel-heading">';
                            output += '<h4 class="panel-title">';
                            output += '<a class="collapsed" data-toggle="collapse" data-parent="#accordion" name="' +
                                arr_faq[i].id + '" aria-expanded="false"><i class="glyphicon glyphicon-triangle-right"></i><span>' + arr_faq[i].title + '</span></a>';
                            output += '</h4></div>';
                            output += '<div class="' + arr_faq[i].id + ' panel-collapse collapse">';
                            output += '<div class="panel-body">' + arr_faq[i].description + '</div></div></div>';
                        }
                        if(arr_faq.length < 1) {
                            output = '<h3>No FAQ Found!</h3>';
                        }
                        $(".panel-group").empty().append(output);
                        $(".head").empty().append("Tag: " + tag_name);
                    } else {
                        //TODO when have errors
                        alert('Please check request !');
                    }
                },
                timeout: 10000
            });
        });

        $(".btn-search").click(function () {
            $(".list-group-item").removeClass("list-group-item-in");
            $(".most-frequently").removeClass("list-group-item-in");
            $(".faq-tag").removeClass("faq-tag-in");
            var keyword = $(".keyword").val();
            $.ajax({
                type: "POST",
                url: '<?php echo $block->getFaqUrl()?>?isAjax=true',
                data: {
                    keyword: keyword
                },
                showLoader: true,
                success: function (response) {
                    if (!response.error) {
                        var arr_faq = response.faqs;
                        var output = '';
                        for (var i = 0; i < arr_faq.length; i++) {
                            output += '<div class="panel panel-default">';
                            output += '<div class="panel-heading">';
                            output += '<h4 class="panel-title">';
                            output += '<a class="collapsed" data-toggle="collapse" data-parent="#accordion" name="' +
                                arr_faq[i].id + '" aria-expanded="false"><i class="glyphicon glyphicon-triangle-right"></i><span>' + arr_faq[i].title + '</span></a>';
                            output += '</h4></div>';
                            output += '<div class="' + arr_faq[i].id + ' panel-collapse collapse">';
                            output += '<div class="panel-body">' + arr_faq[i].description + '</div></div></div>';
                        }
                        if(arr_faq.length < 1) {
                            output = '<h3>No FAQ Found!</h3>';
                        }
                        $(".panel-group").empty().append(output);
                        $(".head").empty().append("Key word: " + keyword);
                    } else {
                        //TODO when have errors
                        alert('Please check request !');
                    }
                },
                timeout: 10000
            });
        });
    });
</script>