.container-div{
    border:1px solid grey;
    margin-bottom: 40px;
}
.container-div .faq-title strong{
    font-size: 18px;
    font-weight: 300;
}

.container-div .title{
    cursor: pointer;
    color: #0f5293;
    padding-bottom: 3%;
    padding-top: 2%;
    padding-left: 3%;
}

.container-div .title:hover{
    color: #00A5E3;
    text-decoration: underline;
}

.container-div .faq-title{
    background-color: #f7f7f9;
    padding-bottom: 10px;
    padding-top: 10px;
}

.container-div .description{
    padding-left: 10%;
    padding-bottom: 5%;
}

.container-div .switch{
    width: 25%;
    float: left;
    cursor: pointer;
    color: #0f5293;
}

.container-div .switch:hover{
    color: #00A5E3;
    text-decoration: underline;
}