<?php
/** @var  $block Magenest\FAQProfessional\Block\Adminhtml\Faq\Edit\Tab\Main */
$data = $block->getFaq();
$categories = $block->getCategories();
$tags = $block->getTags();
$productCategories=$block->getAllProductCategory();
?>

<fieldset id="_info_general" class="fieldset admin__fieldset ">
    <legend class="admin__legend legend">
        <span>FAQ Information</span>
    </legend>
    <br>
    <form id="faq_page" method="POST" action="<?php echo $block->getUrl('faq/faq/save') ?>">
        <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>"/>
        <input type="hidden" value="<?php echo (isset($data)) ? $data['id'] : '' ?>" name="id">
        <div class="admin__field field field-content with-addon required _required"
             data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-form-field-content">
            <label class="label admin__field-label"
                   data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-text-data-content-label"
                   for="_info_content">
                <span>Title</span>
            </label>

            <div class="admin__field-control control">
                <div class="admin__field">
                    <input id="_info_content" class=" required-entry _required text admin__control-text"
                           data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-text-data-content"
                           name="title" value="<?php echo (isset($data)) ? $data['title'] : '' ?>"
                           autocomplete="off" <?php echo (isset($data)) ? 'disabled="disabled"' : '' ?>>
                </div>
            </div>
        </div>
        <div class="admin__field field field-content with-addon required _required"
             data-ui-id="adminhtml-question-edit-tab-general-0-fieldset-element-form-field-content">
            <label class="label admin__field-label"
                   data-ui-id="adminhtml-question-edit-tab-general-0-fieldset-element-textarea-data-content-label"
                   for="_info_content">
                <span>Description</span>
            </label>

            <div class="admin__field-control control">
                <div class="admin__field">
                        <textarea id="_info_content" class=" required-entry _required textarea admin__control-textarea"
                                  data-ui-id="adminhtml-question-edit-tab-general-0-fieldset-element-textarea-data-content"
                                  cols="15" rows="2" name="description"
                                  style="height: 100px;"><?php echo (isset($data)) ? $data['description'] : '' ?></textarea>
                </div>
            </div>
        </div>
        <div class="admin__field field field-content with-addon required _required"
             data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-form-field-content">
            <label class="label admin__field-label"
                   data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-text-data-content-label"
                   for="_info_content">
                <span>Tags</span>
            </label>

            <div class="admin__field-control control">
                <div class="admin__field">
                    <input id="_info_content" class="tag required-entry _required text admin__control-text"
                           data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-text-data-content"
                           name="tags_name" value="<?php echo (isset($data)) ? $data['tags_name'] : '' ?>"
                           autocomplete="off"><br/>
                    <span>Tags are seperated by commas!</span>
                </div>
                <div class="admin__field">
                    <select name="tags" multiple="multiple" style="width: 495px">
                        <?php foreach ($tags as $tag): ?>
                            <option class="tag_exists" id="<?php echo $tag['tag_name']; ?>" value="<?php echo $tag['id']; ?>"><?php echo $tag['tag_name']; ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
        </div>
        <div class="admin__field field field-content with-addon required _required"
             data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-form-field-content">
            <label class="label admin__field-label"
                   data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-text-data-content-label"
                   for="_info_content">
                <span>Product Category</span>
            </label>
<!---->
            <div class="admin__field-control control">
                <div class="admin__field">
                    <select name="product_category[]" multiple="multiple" style="width: 495px">
                        <?php foreach ($productCategories as $category): ?>
                            <option class="category_exists" <?php echo $block->isProductCategorySelected($category->getId());?>  id="<?php echo $category->getName(); ?>" value="<?php echo $category->getId(); ?>"><?php echo $category->getName(); ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
        </div>
        <div class="admin__field field field-content with-addon required _required"
             data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-form-field-content">
            <label class="label admin__field-label"
                   data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-text-data-content-label"
                   for="_info_content">
                <span>Category</span>
            </label>

            <div class="admin__field-control control">
                <div class="admin__field">
                    <select name="category_id">
                        <?php foreach ($categories as $cate): ?>
                            <option <?php echo (isset($data) && $data['category_id'] == $cate['id']) ? 'selected' : '' ?>
                                value="<?php echo $cate['id']; ?>"><?php echo $cate['name']; ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
        </div>
        <div class="admin__field field field-content with-addon required _required"
             data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-form-field-content">
            <label class="label admin__field-label"
                   data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-text-data-content-label"
                   for="_info_content">
                <span>Url Key</span>
            </label>

            <div class="admin__field-control control">
                <div class="admin__field">
                    <input id="_info_content" class=" required-entry _required text admin__control-text"
                           data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-text-data-content"
                           name="url_key" value="<?php echo (isset($data)) ? $data['url_key'] : '' ?>"
                           autocomplete="off">
                </div>
            </div>
        </div>
        <div class="admin__field field field-mostfrequently with-addon required _required"
             data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-form-field-status">
            <label class="label admin__field-label"
                   data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-label-data-status-label"
                   for="_info_status">
                <span>Most Frequently</span>
            </label>

            <div class="admin__field-control control">
                <div class="admin__field">
                    <?php
                        $most_frequently_yes = \Magenest\FAQProfessional\Model\FAQ::MOST_FREQUENTLY_YES;
                        $most_frequently_no = \Magenest\FAQProfessional\Model\FAQ::MOST_FREQUENTLY_NO;
                    ?>
                    <select name="most_frequently">
                        <option <?php echo (isset($data) && $data['most_frequently'] == $most_frequently_no) ? 'selected' : '' ?>
                            value="<?php echo $most_frequently_no ?>">No</option>
                        <option <?php echo (isset($data) && $data['most_frequently'] == $most_frequently_yes) ? 'selected' : '' ?>
                            value="<?php echo $most_frequently_yes ?>">Yes</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="admin__field field field-content with-addon required _required"
             data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-form-field-content">
            <label class="label admin__field-label"
                   data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-text-data-content-label"
                   for="_info_content">
                <span>Sort Order</span>
            </label>

            <div class="admin__field-control control">
                <div class="admin__field">
                    <input id="_info_content" class=" required-entry _required text admin__control-text"
                           data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-text-data-content"
                           name="sort_order" value="<?php echo (isset($data)) ? $data['sort_order'] : '' ?>"
                           autocomplete="off">
                </div>
            </div>
        </div>
        <div class="admin__field field field-status "
             data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-form-field-status">
            <label class="label admin__field-label"
                   data-ui-id="adminhtml-faq-edit-tab-general-0-fieldset-element-label-data-status-label"
                   for="_info_status">
                <span>Status</span>
            </label>

            <div class="admin__field-control control">
                <div class="admin__field-control control">
                    <div class="admin__field admin__field-option">
                        <input id="_info_active1" class="admin__control-radio" type="radio" value="1"
                               name="status" checked>
                        <label class="admin__field-label" for="_info_active1">
                            <span>Enable</span>
                        </label>
                    </div>
                    <div class="admin__field admin__field-option">
                        <input id="_info_active2" class="admin__control-radio" type="radio" value="2"
                               name="status" <?php if(isset($data) && $data['status'] == 2){  echo "checked"; } ?>>
                        <label class="admin__field-label" for="_info_active2">
                            <span>Disable</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <button class="scalable save faq" style="float:right" onclick="faq_page.submit();" type="submit">
            <span>Save</span>
        </button>
    </form>
</fieldset>

<script>
    require([
        "jquery",
        "mage/mage",

    ], function ($) {
        "use strict";

        $(".tag_exists").click(function () {
            var tags = $(".tag").val();
            var tag_name = $(this).attr('id');
            if(tags.length <= 0) {
                $(".tag").val(tag_name);
            } else {
                while(tags.lastIndexOf(' ') == tags.length-1 || tags.lastIndexOf(',') == tags.length-1 ) {
                    tags = tags.substring(0, tags.length-2);
                }
                var arr_tag = tags.split(',');
                var checkExists = false;
                for(var i = 0; i < arr_tag.length; i++) {
                    arr_tag[i] = arr_tag[i].replace(' ', '');
                    if(arr_tag[i] == tag_name) {
                        checkExists = true;
                    }
                }
                if(!checkExists){
                    $(".tag").val(tags + ", " + tag_name);
                }
            }
        });
    });
</script>

