.head
{
    font-weight: bold;
    font-size: 20px;
}
.faq-tag
{
    cursor: pointer;
    margin-right: 5px;
    line-height: 25px;
    padding: 0px;
    text-decoration: none;
}
.faq-tag:hover
{
    text-decoration: none;
    color: #000000;
}
.lead
{
    background-color: #f7f7f9;
}
/*.collapsed::before{*/
    /*color: #00A5E3;*/
    /*top: 6px;*/
    /*left: 14px;*/
    /*content: '▶';*/
/*}*/

.collapsed
{
    cursor: pointer;
    color: #00A5E3 !important;
}
.collapsed:hover {
    color: orange !important;
    text-decoration: none;;
}

.panel-body .panel-group .panel .panel-heading h4 a:hover{
    color: orange !important;
    text-decoration: none;;
}

.list-group-item{
    cursor: pointer;
}
.list-group-item-in{
    /*color: #555;*/
    text-decoration: none;
    background-color: #f5f5f5;
}

.faq-tag-in{
    background-color: #e4edf4;
}